{% extends "base.html" %}
{% block content %}
<div>
  <img src="/static/img/logo.png" style="margin-top:5px;margin-left:5px;">
</div>
<div class="container-fluid topGap">
  <div class="row">
    <div id="menu_img_icon"></div>
    <div class="col-md-2"></div>
    <div class="col-md-8" style="background-color:#f5f4f3; height=100%;border-radius:5px;">
      <div class='remove_padding' style="background-color:#029f5b; border-radius:5px; box-shadow: 2px 2px 2px #888888;">
        <div id='dvMenuBar' class='center_div'></div>
      </div>
      <div style='margin-left:5%'>
		  </div>
		  <hr style="height:2px;border-width:0;color:gray;background-color:#029f5b; margin-botton:2%">
		  <div>
        <table id="info_container" width=100%>
          <tr style='box-shadow:2px 2px 2px #888888;'>
            <th target="left" style="text-align:center">Container attribute</th>
            <th style="text-align:center" target="right">Value</th>
          </tr>
          <tr style="padding-bottom:5%">
            <td align='center'>Name</td>
            <td align='center'>{{ container.name }}</td>
          </tr>
          <tr align='center'>
            <td>Unique ID</td>
            <td align:'center'>{{ container.short_id }}</td>
          </tr>
          <tr align='center'>
            <td>Status</td>
            <td>{{ container.status.title() }}</td>
          </tr>
          <tr align='center'>
            <td>Image</td>
            <td>{{ container.attrs["Config"]["Image"] }}</td>
          </tr>
          <tr align='center'>
            <td>Date Created</td>
            <td>{{ container.attrs["Created"].split('T')[0] }}</td>
          </tr>
          <tr align='center'>
            <td>Command</td>
            <td>{{ container.attrs["Config"]["Cmd"]|join(' ') }}</td>
          </tr>
          <tr align='center'>
            <td>Hostname</td>
            <td>{{ container.attrs["Config"]["Hostname"] }}</td>
          </tr>
          <tr align='center'>
            <td>Network Mode</td>
            <td>{{ container.attrs["HostConfig"]["NetworkMode"].title() }}</td>
          </tr>
          <tr align='center'>
            <td>Default Gateway</td>
            <td>{{ container.attrs["NetworkSettings"]["Gateway"] }}</td>
          </tr>
          <tr align='center'>
            <td>IP Address</td>
            <td>{{ container.attrs["NetworkSettings"]["IPAddress"] }}</td>
          </tr>
          <tr align='center'>
            <td>Ports</td>
            {% if hostPort %}
            <td>{{ hostPort }} <-------> {{ containerPort }}</td>
            {% else %}
            <td>{{ container.attrs["NetworkSettings"]["Ports"] }}</td>
            {% endif %}
          </tr>
          <tr align='center'>
            <td>Mac Address</td>
            <td>{{ container.attrs["NetworkSettings"]["MacAddress"] }}</td>
          </tr>

				</table>
		  </div>
		  <hr style="height:2px;border-width:0;color:gray;background-color:#029f5b; margin-botton:2%">
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
{% endblock %}
