{% extends "base.html" %}
{% block content %}
<div>
      <img src="img/logo.png" style="margin-top:5px;margin-left:5px;">
	</div>
    <div class="container-fluid topGap">
      <div class="row">
        <div id="menu_img_icon"></div>
        <div class="col-md-2"></div>
        <div class="col-md-8" style="background-color:white; height=100%;border-radius:5px;">
          <div class='remove_padding' style="background-color:#029f5b; border-radius:5px;">
            <div id='dvMenuBar' class='center_div'></div>
		  </div>
		  <div style='margin-left:5%'>
		  	   <table id='tbl_name'>
			   		  <tr><th></th><th></th><tr>
					  <tr align='left'><td style='font-size:20px'>Container Name:</td>
			   		  <td>{{ container.name }}</td>
					  </tr>
					  <tr align='left'><td  style='font-size:20px'>Current Status:</td>
					  <td>{{container.status}}</td>
					  </tr>
			   </table>
		  </div>
		  <hr style="height:2px;border-width:0;color:gray;background-color:#029f5b; margin-botton:2%">
		  <div class='center_div'>
		  	   <table>
			   		  <tr>
					  	  <td style='padding:4px;'><input class='infobtn btn btn-default' type='button' value='Start' id='container_info_str' name='container_info_str' /></td>
						  <td style='padding:4px;'><input class='infobtn btn btn-default' type='button' value='Stop' id='container_info_stp' name='container_info_stp' /></td>
						  <td style='padding:4px;'><input class='infobtn btn btn-default' type='button' value='Remove' id='container_info_rvm' name='container_info_rvm' /></td>
					  </tr>
			   </table>
		  </div>
		  <hr style="height:2px;border-width:0;color:gray;background-color:#029f5b; margin-botton:2%">
		  <div>
		  	    <table id="info_container" width=100%>
					<tr>
               		<th target="left" style="text-align:center">Key</th>
					<th style="text-align:center" target="right">Value</th>
					</tr>
					<tr align='center'>
					<td><a href="Container.html">Placeholder</a></td>
					<td>Placeholder</td>
					</tr>
				</table>
		  </div>
		  <hr style="height:2px;border-width:0;color:gray;background-color:#029f5b; margin-botton:2%">
		  <div>
		  	   <p>Placeholder for commands</p>
		  </div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>