{% extends "base.html" %}
{% block content %}
<div>
  <img src="/static/img/logo.png" style="margin-top:5px;margin-left:5px;">
</div>
<div class="container-fluid topGap">
  <div class="row">
    <div id="menu_img_icon"></div>
    <div class="col-md-2"></div>
    <div class="col-md-8" style="background-color:white; height=100%;border-radius:5px;">
      <div class='remove_padding' style="background-color:#029f5b; border-radius:5px;">
        <div id='dvMenuBar' class='center_div'></div>
  </div>
 <div>
    <div id='div_img' class='center_div' style='margin-top:15px; margin-bottom:20px'>
         <h4><b><i>Pull Images</i></b></h4>
    </div>
    <hr style="height:2px;border-width:0;color:gray;background-color:#029f5b">
    <!--<div class="center_div">-->
    <div>
    <table width=100%>
         <tr>
           <td style="padding:4px;">
         <div class="center_div">
           <button id='nginx_btn' class='imageBtn image_buttons' title='NGINX' style="width:130px; height:100px; background-color:white"><img src='/static/img/nginx.png' style="width:100%; height:100%;"/></button></div>
           </div>
         </td>
           <td style="padding:4px;">
           <div class="center_div"><button id='docker_btn' class='imageBtn image_buttons' title='Docker' style="width:130px; height:100px; background-color:white"><img src='/static/img/docker.png' style="width:100%; height:100%;"/></button></div>
           </td>
           <td style="padding:4px;">
           <div class="center_div"><button id='redis_btn' class='imageBtn image_buttons' title='Redis' style="width:130px; height:100px; background-color:white"><img src='/static/img/redis.png'style="width:100%; height:100%;"/></button></div>
           </td>
           <td style="padding:4px;">
           <div class="center_div"><button id='ubuntu_btn' class='imageBtn image_buttons' title='Ubuntu' style="width:130px; height:100px; background-color:white"><img src='/static/img/ubuntu.png' style="width:100%; height:100%;"/></button></div>
           </td>
         </tr>
       <!--<tr>
         <td align="center" style="padding:4px;">
           <div class="center_div"><input style="width:100%" class="imageBtn" id="ngix_btn" type="button" value="NGiNX"></div>
           <span>Docker<span>
         </td>
       </tr>-->
    </table>
    </div>
    <hr style="height:2px;border-width:0;color:gray;background-color:#029f5b">
    <div style='margin-bottom:5%; margin-top:5%'>
        <form id="pull_img" class="form-inline" role="form" display="block" action="http://localhost/images" method="post">
             <div class="form-group">
              <label class='sr-only' for="email">Image Path:</label>
              <input maxlength="70" size="70" id="img_path" type="text" class="form-control  imagepath" name="img_path" placeholder="Image Name">
           </div>
         <input id="pull_img_btn" type="submit" class="btn btn-default" value="submit">
       </form>
    </div>
    <hr style="height:2px;border-width:0;color:gray;background-color:#029f5b;margin-bottom:5%">
    <div style="margin-bottom:10%">
         <form id="imageList">
           <table id="img_container" width=100%>
              <tr id='con_list0'>
                <th target="left"></th>
                <th style="text-align:center">Image Name</th>
                <th style="text-align:center">Tag</th>
                <th style="text-align:center" target="right">Size</th>
              </tr>
              {% for name,tag,size in imageList %}
              <tr id='con_list1' align='center'>
                <td><input type="checkbox" id="containercheckBox1" name="containercheckBox1"></td>
                <td>{{ name }}</td>
                <td>{{ tag }}</td>
                <td>{{ size }}</td>
              </tr>
              {% endfor %}
            </table>
           </form>
        </div>
     </div>
    </div>
    <div class="col-md-2"></div>
  </div>
{% endblock %}
