{% block content %}
<div id="container_return_table">
  {% if errors %}
  {% for error in errors %}
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Error!</strong> {{ error }}
  </div>
  {% endfor %}
  {% endif %}
  <div>
    <form id="container_list" style="display:block">
      <table id="tbl_container" width=100%>
        <tr id='con_list0'>
          <th target="left"></th>
          <th style="text-align:center">Container Name</th>
          <th style="text-align:center">Container ID</th>
          <th style="text-align:center">Status</th>
          <th style="text-align:center" target="right">Created By</th>
        </tr>
        {% for container,createdBy in containers %}
        <tr id='con_list{{ loop.index }}' align='center'>
          <td><input type="checkbox" id="containercheckBox{{ loop.index }}" name="containercheckBox{{ loop.index }}"></td>
          <td><a href="/containers/{{ container.name }}">{{ container.name }}</a></td>
          <td>{{ container.short_id }}</td>
          <td>{{ container.status.title() }}</td>
          <td>{{ createdBy }}</td>
        </tr>
        {% endfor %}
      </table>
    </form>
  </div>
</div>
{% endblock %}
