html, body
 {
  height:100%;
  width:100%;
  background-color:#81c784;
 }
.topGap
{
  position: relative;
  top: 5%;
}

.textbox	
{
 border-radius: 5px;
 height: 40px;
 width: 200px;
 padding: 5px;
 border-style: none;
 background-color: #029f5b;
 color: white;
}
.center_div
{
  display:table;
  margin:0 auto;
}
.remove_padding
{
  margin-left:-20px;
  margin-right:-20px;
}
#home_container td
{
 padding:10px;
}
#home_container caption 
{ 
 border-radius: 5px;
 -moz-border-radius: 5px; 
 padding:10px;
 background-color:#81c784;
}